@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap");

@mixin isChrome {
  @at-root &:is(html).is-chrome,
    html.is-chrome & {
    @content;
  }
}

@mixin isNotChrome {
  @at-root &:is(html):not(.is-chrome),
    html:not(.is-chrome) & {
    @content;
  }
}

html {
  color-scheme: dark;

  --animation-duration: 3s;
  --animation-ease: cubic-bezier(0.65, 0, 0.35, 1);
}

html,
body {
  touch-action: none;
  // to prevent scrolling on the overflowed elements
  scroll-padding: 500dvh 500vw;
}

body {
  margin: 0;
  padding: 0;
  // background-color: theme('colors.primary.950');
  background: radial-gradient(
    circle,
    hsla(from theme("colors.primary.950") h s 10% / 1),
    hsla(from theme("colors.primary.950") h 20% 5% / 1)
  );
  background-size: cover;
  user-select: none;
  // letter-spacing: 3px;
  overflow: hidden;
  overflow-anchor: auto;
  height: 100dvh;

  @include isChrome() {
    perspective: 100dvh;
  }
  font-family: "Tajawal";
}

main {
  display: grid;
  margin: auto;
  height: 100dvh;
  // grid-auto-rows: auto;
  grid-auto-columns: clamp(20rem, 75%, 1020px);
  justify-content: center;
  width: 100%;
  grid-template-rows: min-content 1fr 0;
  @include isChrome() {
    transform-style: preserve-3d;
  }
}

header {
  // padding: 1.5em;
  margin: auto;
  top: 0em;
  position: relative;
  display: flex;
  h1 {
    padding: 1em;
    width: 100%;
    @apply md:text-3xl text-xl font-bold uppercase;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2), 1px -1px 1px rgba(0, 0, 0, 0.2),
      -1px 1px 1px rgba(0, 0, 0, 0.2), -1px -1px 1px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    position: fixed;
    left: 50%;
    top: 0;
    transform: translate(-50%, 0);
    width: clamp(20rem, 100%, 1500px);
    z-index: 0;
    transition: width var(--animation-duration) var(--animation-ease);
    border-image: radial-gradient(
        50% 50% at 50% 125%,
        currentColor 0%,
        transparent 100%
      )
      1;
    border-style: solid;
    border-width: 1px;
  }

  a[href="#about"],
  button#fullscreen {
    position: relative;
    z-index: 2;
    @media (max-width: 768px) {
      position: fixed;
      transform: translate(-50%, 0);
      top: 2.5em;
      inset-inline-end: 2em;

      &:is([href="#about"]) {
        top: 4.5em;
      }
    }
  }

  // p {
  //   max-height: 5em;
  //   overflow: auto;
  //   transition: all 0.7s ease-in-out;
  // }
}

a[href="#about"],
button#fullscreen,
#close-about {
  @apply text-2xl;
  padding: 1em;
  margin: auto 0;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2), 1px -1px 1px rgba(0, 0, 0, 0.2),
    -1px 1px 1px rgba(0, 0, 0, 0.2), -1px -1px 1px rgba(0, 0, 0, 0.2);
  opacity: 0.5;
  transition: all 0.7s ease-in-out;
  width: 1em;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  &:hover {
    opacity: 1;
  }
}

body.fullscreen {
  button#fullscreen .fa-expand {
    display: none;
  }
}

body:not(.fullscreen) {
  button#fullscreen .fa-compress {
    display: none;
  }
}

body:has(#about:target) {
  header h1 {
    width: clamp(20rem, 75%, 1020px);
  }
  a[href="#about"] {
    opacity: 0;
    pointer-events: none;
    margin: auto -0.5em;
  }
}

body:has(#students :target) {
  // header :not(h1) {
  //   max-height: 0;
  //   overflow: 0;
  // }

  #actions {
    // display: flex;
    opacity: 1;
  }
}

canvas {
  position: fixed;
  top: 0;
  width: 100% !important;
  height: 100% !important;
  z-index: 0;
  user-select: none;
  // touch-action: none;
}

#tooltip {
  position: fixed;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(50px);
  // border: 1px solid rgba(255, 255, 255, 0.18);
  color: white;
  padding: 0.5rem;
  // border-radius: 0.5rem;
  display: none;
}

#students {
  @include isChrome() {
    transform-style: preserve-3d;
  }
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

#students > li:not(:target) {
  //   display: none;
  // opacity: 0;
  pointer-events: none;

  transform: scale(1) translate(-50%, 50dvh);
  @include isChrome() {
    transform: scale(1) translate3d(-50%, calc(50dvh), 100dvh) rotateX(45deg);
  }

  @include isNotChrome() {
    opacity: 0;
  }
  width: 100%;
}

.student {
  width: 100%;
  max-width: clamp(20rem, 75%, 500px);
  position: fixed;
  z-index: 10;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(50px);
  // border: 1px solid rgba(255, 255, 255, 0.18);
  color: white;
  padding: 1rem 2rem;
  // border-radius: 0.5rem;
  // center the element at the bottom of the screen
  top: 50dvh;
  left: 50vw;
  transform-origin: center center;
  transform: scale(1) translate(-50%, calc(50dvh - 100% - 1em));
  @include isChrome() {
    transform: scale(1) translate3d(-50%, calc(50dvh - 100% - 1em), 0dvh);
  }
  opacity: 1;
  transition: all var(--animation-duration) var(--animation-ease);

  .name {
    text-align: center;
  }
  .accreditation {
    max-height: clamp(100px, 50vh, 250px);
    overflow-y: auto;

    .student-line {
      display: block;
      // margin: 16px 8px;
      // border-top: 1px solid white;
      border-image: radial-gradient(
          50% 50% at 50% 125%,
          currentColor 0%,
          transparent 100%
        )
        1;
      border-style: solid;
      border-width: 2px;
      height: 0px;
      margin: 15px 0;
      &:first-child {
        position: sticky;
        top: -2px;
      }
    }
  }
}

.student,
#tooltip {
  .time-container {
    text-align: center;
    display: inline-block;
    width: 100%;
  }
  h3 {
    @apply text-3xl;
    line-height: 1.5;
  }

  h4 {
    @apply text-xl;
  }

  time {
    @apply text-lg;
  }

  p {
    @apply text-lg;
  }
}

#tooltip > .accreditation {
  display: none;
}

#actions {
  --extraWidth: 20vw;
  width: 100%;
  max-width: calc(clamp(20rem, 75%, 500px) + 4rem + 0px);
  position: fixed;
  bottom: 7em;
  left: 50%;
  transform: translate(-50%, 0);
  color: white;
  justify-content: space-between;
  z-index: 10;
  transition: all calc(var(--animation-duration) / 2) var(--animation-ease);
  opacity: 0;
  display: flex;
  pointer-events: none;

  button {
    @at-root :dir(ltr) & {
      transform: scale(-1, 1);
    }
    pointer-events: auto;
    // flex: 1;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    aspect-ratio: 1;
    // background-color: rgba(0, 0, 0, 0.2);
    // backdrop-filter: blur(50px);
    // border: 1px solid rgba(255, 255, 255, 0.18);
    color: white;
    // margin: 0.5rem;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2), 1px -1px 1px rgba(0, 0, 0, 0.2),
      -1px 1px 1px rgba(0, 0, 0, 0.2), -1px -1px 1px rgba(0, 0, 0, 0.2);
    // border-radius: 0.5rem;

    font-size: 3em;
    opacity: 0.5;
  }
}

#actions.expand-animation {
  animation: buttonsExpand var(--animation-duration) var(--animation-ease);
}

#about {
  opacity: 1;
  transition: all var(--animation-duration) var(--animation-ease);
  transform: translate3d(0, 2em, 0) rotateX(0deg);
  display: grid;
  position: relative;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(50px);
  // border: 1px solid rgba(255, 255, 255, 0.18);
  color: white;
  padding: 4rem 2rem;
  margin: auto;
  font-size: 1rem;
  line-height: 2;

  place-self: center;
  overflow: auto;

  max-height: calc(100% - 7em);
  position: fixed;
  width: clamp(20rem, 75%, 1020px);

  &::after {
    content: "";
    display: block;
    height: 4em;
    width: 100%;
  }

  &:not(:target) {
    // display: none;
    pointer-events: none;
    @include isChrome() {
      transform: translate3d(0, 100%, 100dvh) rotateX(90deg);
    }

    @include isNotChrome() {
      opacity: 0;
      transform: translate(0, 100%);
    }

    touch-action: none;
    transition-duration: 1.5s;
  }

  #close-about {
    position: absolute;
    top: -0.5em;
    // right: 0;
    padding: 1em;
    font-size: 2em;
    cursor: pointer;
  }
}

#tooltip,
#about,
.student {
  border-image: linear-gradient(
      180deg,
      hsl(0 0% 80% / 0.2) 10%,
      hsl(0 0% 80% / 0) 100%
    )
    1;
  border-style: solid;
  border-width: 1px;
}

@keyframes buttonsExpand {
  0% {
    max-width: calc(clamp(20rem, 75%, 500px) + 4rem + 0px);
  }

  50% {
    max-width: calc(clamp(20rem, 75%, 500px) + 4rem + var(--extraWidth, 0px));
  }
  100% {
    max-width: calc(clamp(20rem, 75%, 500px) + 4rem + 0px);
  }
}
